<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'cocktail_banner.jpg' %>);">
  <div class="container">
    <h1>Enter Your New Cocktail</h1>
  </div>
</div>
<div class="container">
<%= simple_form_for(@cocktail) do |f| %>
  <div class= "form-group">
  <%= f.input :name %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  </div>
  <%= f.submit "Save Cocktail", class: "btn btn-primary btn-lg" %>
<% end %>
<br>
<%= link_to "Back to Cocktails", cocktails_path, class: "btn btn-light" %>
</div>
