<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'cocktail_banner.jpg' %>);">
  <div class="container">
    <h1>Let's add some ingredients!</h1>
  </div>
</div>
<!-- <form action="/restaurants/:restaurant_id/reviews" method="post">
</form> -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient%>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
